$navLiGrey:#939393;
$articleHead:#E05652;
$asideInputBorder:#d76f6c;
$footerBack:#58595b;
$footerColor:#949293;
$white:#ffffff;
$contactsub1:#02344e;
$contactsub2:#096085;
$contactsub3:#07587b;
$placeholder:#cccccc;
$headingFont:28px;